In [2]:
import pandas as pd
url = 'https://github.com/laxmimerit/All-CSV-ML-DATA-Files-Download/raw/master/IMDB-Dataset.csv'
df = pd.read_csv(url, chunksize=10000)
df

In [4]:
for chunk in df:
        print(chunk.shape)

(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)

In [5]:
url = 'https://github.com/laxmimerit/All-CSV-ML-DATA-Files-Download/raw/master/IMDB-Dataset.csv'
df = pd.read_csv(url, chunksize=10000)
data = pd.DataFrame()
for chunk in df:
        data = pd.concat([data, chunk])

In [6]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
data.shape

(50000, 2)

In [8]:
data.to_csv('data/imdb_movie.csv')

In [12]:
pd.read_csv('data/imdb_movie.csv').head()

   Unnamed: 0                                             review sentiment
0           0  One of the other reviewers has mentioned that ...  positive
1           1  A wonderful little production. <br /><br />The...  positive
2           2  I thought this was a wonderful way to spend ti...  positive
3           3  Basically there's a family where a little boy ...  negative
4           4  Petter Mattei's "Love in the Time of Money" is...  positive

In [10]:
data.to_csv('data/imdb_movie.tsv', sep='\t')

In [14]:
pd.read_csv('data/imdb_movie.tsv', sep='\t').head()

   Unnamed: 0                                             review sentiment
0           0  One of the other reviewers has mentioned that ...  positive
1           1  A wonderful little production. <br /><br />The...  positive
2           2  I thought this was a wonderful way to spend ti...  positive
3           3  Basically there's a family where a little boy ...  negative
4           4  Petter Mattei's "Love in the Time of Money" is...  positive